/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.space {
  background: url(background.png);
  width: 1366px;
  height: 780px;
}

/*Adds img, but can't currently style*/
.asteroid {
  position: absolute;
  display: block;
  content: url(asteroid.png);
}

